@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,100;1,400&family=Oswald:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}



/* second nav */
#second-nav{
    width: 100%;
    max-height: 20%;
    align-items: center;
    padding-top: 20px;
    padding-left: 2%;
    padding-bottom: 5px;
    padding-right: 2%;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    margin-top: -25px;
    margin-left: 70px;
}
.logo h2{
    font-family: Oswald;
    padding-left: 10px;
    font-size: 40px;
}

.contact-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2px;
  
}

.contact-info h4{
    margin-left: 10px;
}

.location-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2px;
    right: 108px;
   
}

.location-info img{
    margin-top: 10px;
}

.location-info p{
    margin-left: 15px;
}

/* third nav */

#third-nav{
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
}

#third-nav ul{
    max-width: 100%;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 13px;
    font-weight: 600;
    margin-right: 150px;
}

#third-nav ul li{
    display: inline-block;
    padding: 0px 20px;
    
}

#third-nav ul li a div{
    cursor: pointer;
}

#third-nav ul li a div:hover{
    color: #FF6F00;
}

#third-nav ul li a div div{
    margin-left: -40px;
}

.social-search-container {
    display: flex;
    justify-content: space-between;
}

.home-div{
    display: flex;
}

.home-div img{
   margin-left: 10px;
   margin-top: 4px;
}

.social-heading{
    margin-right: 50px;
}

.social-heading img{
    margin: 5px;
}

.search-env{
    margin-top: 5px;
    margin-right: 10px;
    width: 100px;
    
}

.search-env img{
    margin: 5px;
}

.img-cons{
    border-radius: 50px;
    padding-top: 8px;
}

.cart-count-container{
    background-color: #ffc139;
    color: #6f6565aa;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding-top:  10px;
    border-radius: 50px 50px 50px 50px;
}



.search-env span .cart-count{
    margin: 5px;
}



.message{
    width: 200px;
    height: 50px;
    right: 50px;
    position: absolute;
    background-color: white;
    color: #2d394b;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 12px 12px 2px 1px rgba(1, 1, 15, 0.2);
}

.hide{
    display: none;
}

.text{
    padding: 20px 4%;
    text-align: center;
}
.sticky{
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 12px 12px 2px 1px rgba(1, 1, 15, 0.2);
}


/* footer container - signup container*/
footer {
    padding: 20px;
    width: 100%;
}

.sign-up-container {
   margin-left: -5px;
   margin-right: -10px;
    width: 100%;
}

.signup-heading {
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    margin-left: -5px;
    margin-top: 10px;
}

.heading-container p {
    color: #333333;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -5px;
    margin-top: 15px;
    margin-right: -9px;
    margin-bottom: 15px;
    line-height: 2em;
    letter-spacing: 1px;
}

form{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -7px;
    padding-top: 5px;
    padding-left: 2px;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
}

.input-con {
    display: flex;
}

.input-con a {
    max-width: 15%;
    position: absolute;
    right: 10px;
    top: 20px;
    color: gray;
    padding-left: 0%;
}

input{
    padding: 13px 50px 13px 20px;
    border-radius: 23px 23px 23px 23px;
    background-color: rgba(0,0,0,0);
    color: #333333;
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: 1.1px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e5e5e5;
    width: 350px;
}

.social-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -7px;
    margin-right: 20px;
    width: 150px;
}
.pinterest-img{
    margin: 5px;
}
.instagram-img{
    margin: 5px;
}
.facebook-img{
    margin-left: 2px;
    margin-bottom: 5px;
}

/* contact us container */
.contact-container{
    padding-left: 5px;
    width: 100%;
}

.contact-heading{
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    margin-top: 10px;
    margin-left: -17px;
}

.address-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: -17px;
    margin-bottom: 20px;
}



.address-div p{
    padding-top: 3px;
    padding-left: 20px;
    letter-spacing: 1px;
}

.mobile-div {
    display: flex;
    margin-left: -19px;
    margin-bottom: 20px;
}

.mobile-div img{
    padding-top: 10px;
}

.mobile-div h2{
    padding-top: 10px;
    padding-left: 17px;
    font-size: x-large;
    letter-spacing: 2px;
}

.mobile-div h2:hover{
    color: #FF6F00;
}

.time-div {
    display: flex;
    margin-left: -19px;
    margin-right: -20x;
    margin-bottom: 20px;
}

.time-div p {
    padding-top: 1px;
    padding-left: 17px;
    letter-spacing: 1px;
}

.mail-div {
    display: flex;
    margin-left: -17px;
    margin-bottom: 20px;
}

.mail-div img{
    padding-top: 2px;
}

.mail-div p{
    padding-top: 8px;
    padding-left: 20px;
    letter-spacing: 1px;
}

.mail-div p:hover{
    color: #FF6F00;
}

.link-container{
    text-decoration: none;
    color: #000;
}

